<% include header %>

<h1>compact</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/3/37/African_Bush_Elephant.jpg"  width="600" />



 
  <h2>Articles:</h2>
  <% for(var i = 0; i < 3; i++) { %>
    <p><%-articles[i].title %></p>
  <% } %>

<% include footer %>
